.p-contact {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .fa-stack {
        width: 2em;
    }

    .fas:not(.fa-inverse) {
        color: $gray;
    }

    .fa-instagram {
        font-size: 1.2em;
    }
}