.name-conference::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 0 35px;
  border-color: transparent transparent transparent #ffbe3b;
}

.span-image {
  border-bottom: 11px solid #ffac00 !important;
  width: 5rem;
  height: 5rem;
  background-size: cover !important;
  background-position: center !important;
  display: inline-block;
  box-shadow: 0 0 5px hsla(0, 0%, 43%, .2), 0 5px 10px hsla(0, 0%, 43%, .1);
}

.header-custom {
  border: 0;
  background: #003a46;
}
