// WHITE
// Top and bottom
// Mostly used to fix separator 1px space on colored background

.u-border-t-white{ border-top:     1px solid #fff!important;}
.u-border-b-white{ border-bottom:  1px solid #fff!important;}

// GREY
// Top and bottom

.u-border-t-grey{ border-top:      1px solid $gray-300!important;}
.u-border-b-grey{ border-bottom:   1px solid $gray-300!important;}

// YELLOW
// Top and bottom

.u-border-t-yellow{ border-top:      1px solid $primary!important;}
.u-border-b-yellow{ border-bottom:   1px solid $primary!important;}