.color-dark {
  color : $secondary !important;
}

.color-light {
  color : $primary !important;
}

.font-roboto-slab {
  font-family: 'RobotoSlab-Regular' !important;
}

.font-trash-hand{
  font-family: 'TrashHand' !important;
}
