.btn-xs {
    font-size: 12px;
    padding: 2px 5px;
}

.btn-xs.btn-tag {
    background-color: #ededed;
    text-transform: capitalize;
}

.btn-xs.btn-tag:hover {
    background-color: $secondary;
    color:#FFF;
}

.btn-light{
    background-color: rgba($secondary, 0.1);
    border: transparent;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($secondary, 0.17);
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .a-btn-lg-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
}
