.wpcf7 div.wpcf7-response-output {
  margin: 1rem auto 0;
  padding: 1rem;
  font-size: 1.1em;
  max-width: 38rem;

  @extend .alert;
  @extend .alert-warning;

    &.wpcf7-validation-errors {
      @extend .alert-danger;
    }

    &.wpcf7-mail-sent-ok {
      @extend .alert-success;
    }
}
