#submit-id {
  color: #003a46;
  background: #fbc20f;;
  display: inline-block;
  white-space: nowrap;
  min-height: 40px;
  margin-left: -4px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-size: 17px;
  border: none;
  border-radius: 0 4px 4px 0;
  height: 2.5rem;
  line-height: 150%;
  width: 30%;
}

#email {
  height: 2.5rem;
  border-radius: 4px 0 0 4px;
  width: 70%;
  padding: 0 1rem;
  border: 0;
}

.message_area {
  background: none !important;
  width: 20rem;
  border: none!important;
  padding: 5px;
  button{
    width: 1.5rem;
    background: #ff2a2a;
    border: 0;
    border-radius: 50px;
    height: 1.5rem;
    font-size: 1rem;
  }
}


@media screen and (max-width: 960px) {
  #submit-id {
    width: 40%;
  }

  .message_area {
    margin-left: 2rem;
  }

  #email {
    width: 60%;
  }
}
