.o-scrollbox {
  position: fixed;
  bottom: 1rem;
  width: 22rem;
  z-index: 1;
  right: -23rem;
  border-radius: 4px;
  padding: 1.5rem 2rem 1rem;

  &__close{
    position: absolute;
    padding: .25rem .5rem;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: .3;
    transition: opacity .3s ease;

    &:hover{
      opacity: 1;
    }
  }

  &.is--open{
    transition: all 0.7s;
    right : 1rem;
    max-width: calc(100vw - 48px);
  }

  &.is--closed{
    display: none;
  }
}
