.o-hero {
  .from-idea {
    font-family: 'RobotoSlab-Regular';
  }
}

.expertises-block {
  height: 100%;

  p:first-child {
    font-weight: 400;
    font-size: 1.2rem
  }
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.img-odd{
  &--left {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  &--right {
    margin-top: -50px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.img-even{
  &--left {
    margin-top: -50px;
  }
  &--right {
    margin-top: 50px;
  }
}
